# Vyjmutí pracovního souboru a agregovaného souboru se skripty (je nahrazen samostatnými soubory s SQL skripty podle doporučení v hodnocení) 

Working Project1 z SQL ENEGETO.sql
Project1_SQL_skripty.sql

# Vyjmutí souboru s textem hodnocení projektu

HodnoceniProjektu_Dominik_Smida_2025_04_18.docx